<% report_card.each do |entry| %>
  <% unless entry.nil? %>
  <div class="alert alert-<%= entry[:behaving]%>" role="alert">
    <i class="fas <%= report_card_icon(entry[:behaving]) %>"></i>
    <strong><%= entry[:behaving].capitalize %></strong>:
    <%= entry[:message] %>
  </div>
  <% end %>
<% end %>

<form>
  <fieldset>
    <div class="row mb-3">
      <label class="col-sm-2 col-form-label">Status code</label>
      <div class="col-sm-10">
        <input type="text" class="form-control-plaintext" value="<%= website.http_status_code %> [<%= website.http_status %>]">
      </div>
    </div>
    <div class="row mb-3">
      <label class="col-sm-2 col-form-label">Redirect URL</label>
      <div class="col-sm-10">
        <input type="text" class="form-control-plaintext" value="<%= website.redirect_url %>">
      </div>
    </div>
    <div class="row mb-3">
      <label class="col-sm-2 col-form-label">Notes</label>
      <div class="col-sm-10">
        <%= notes_list(website.notes, 5) %>
      </div>
    </div>
  </fieldset>
</form>