<%- view_title "Welcome!" %>

<% content_for :main do %>
  <h1>Welcome to <%= "#{Rails.application.config.app_name}" %>!</h1>

  <p class="lead">Currently tracking:
    <ul>
      <li><%= @domains.count %> Domains (<%= @domain_coverage * 100 %>%)</li>
      <li><%= @websites.count %> Websites (<%= @website_coverage * 100 %>%)</li>
    </ul>
  </p>
<% end %>
